<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891210093671-sqqjt2o67i0s7vpthsd3u3eg1bstu8ba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891210093671-sqqjt2o67i0s7vpthsd3u3eg1bstu8ba</string>
	<key>API_KEY</key>
	<string>AIzaSyAk7NXQL1jyMKx61JaUswWp5vOm3lyz9wY</string>
	<key>GCM_SENDER_ID</key>
	<string>891210093671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.desacode.heystetik</string>
	<key>PROJECT_ID</key>
	<string>heystetik-fae95</string>
	<key>STORAGE_BUCKET</key>
	<string>heystetik-fae95.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891210093671:ios:de840178cf91820742f0c2</string>
</dict>
</plist>